* {
    box-sizing: border-box;
    /* flex-direction: column; */
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    font-family: Georgia;
    background-image: url(Images/artdeco.png);
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 70px;
    text-shadow: 5px 5px brown;
    padding: 0;
    color:aliceblue;
    margin-top: 50px;
    margin-right: 25px;
}

section {
    justify-content: center;
    /* flex-direction: column; */
    width: 100vh;
    height: 100vh;
}

h2 {
    text-align: center;
    padding-top: 60px;
    margin-left: 83vh;
    text-shadow: 2px 2px white;
    color: red;
    font-size: 40px;
}

button {
    margin-top: 20px;
    margin-left: 95vh;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    color: black !important;
    background-color: greenyellow !important;
    cursor: pointer;
}

.soon {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    margin-left: 80vh;
}